.footer {
	height: 20vw;
	display: flex;
	text-align: left;
	background: $white;
	position: absolute;
	padding: 3.7vw 5% 3.5vw;
	right: 0; bottom: 0; left: 0;

	> div { @include fadein(); }

	h3 { line-height: 1.2; font-size: 5.2vw; margin-bottom: 0; }
}

.footer__loonie {
	width: 13.5vw;
	position: relative;
	display: inline-block;

	img { @include anime(transform);
		top: 0;
		width: 100%;
		position: absolute;

		&.footer__silver { transform: translateY(0); }
		&.footer__gold { transform: translateY(200%); }
	}

	&.donated {
		.footer__silver { transform: translateY(200%); }
		.footer__gold { transform: translateY(0); }
	}
}

[class^="footer__cause"] {
	margin: 0 2.5vw;
	display: inline-block;
	width: 28vw; height: 100%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position-y: .5vw;
}

.footer__cause--osteoporosis { background-image: url(../images/logo-osteoporosis.png); }
.footer__cause--heart { background-image: url(../images/logo-heart.png); }
.footer__cause--colorectal { background-image: url(../images/logo-colorectal.png); }

.footer__closed { width: 100%; text-align: center; }
