.login {
	background-image:  url("../images/background.jpg");
	height:100%;

}
.timesheetApp { background: black;}

.header_image {
	background-image:  url("../images/Mirum_White_resize.png");
	width: 333px;
    height: 136px;
    background-size: 222px;
    background-repeat: no-repeat;

}
/*
.login__header {
	h1 {
		margin: 5% 0 0;
		font-size: 9.5vw;
		line-height: 1.5em;
		white-space: nowrap;
		font-family: $heading--getenough;

		@include mq('short'){ margin: 3% 0 0;}
	}

	h3 { font-size: 5.3vw; }
}

.welcome__loonie {
	margin: 2.5vh 0 1.8vh;

	@include mq('short'){ margin: 4vh 0 3.8vw;}

	img {
		width: 40vw; height: auto;

		@include mq('short'){ width: 41vw;}
	}
}

.welcome__body p {
	color: $blue;
	margin: 0 0 2vh;
	font-size: $fz;
	line-height: $lh-larger;
}

.welcome .button{
	//margin: 45px 0 25px 0;
	margin: 10px 0 15px 0; 
}

.welcome__disclaimer p { 
	margin: 0 0 .8em; 
	font-size: $fz--small;
	line-height: $lh;
}
*/