.moving {
	header {
		padding:4% 3%;
		margin-bottom: 0;

		@include mq('short') { padding: 1% 3%; }

		p { margin-top: 5vw; }
	}

	h1 { font-size: 7vw; margin-top: 0; }

	h2 {
		color:$white;
		font-family: $ff--medium;
		font-size: 5vw;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		width: 100%;
		top: 8vw;
		z-index: 2;
	}
}

.moving__content {
	padding: 5% 8%;
	text-align: left;
	background: $gray--lighter;

	@include mq('short') { padding: 1% 3%; }

	img {
		width:100%; margin-top: 4vw;

		@include mq('short') { margin-top: 2vw; }
	}
}
