.overlay { @include anime(opacity);
	opacity: 0;
	z-index: -1;
	position: fixed;
	background-color: $overlay;
	top: 0; right: 0; bottom: 0; left: 0;

	h3 {
		color: $white;
		line-height: 15vw;
		margin-bottom: -2.5vw;
		text-transform: uppercase;
	}

	&.active { opacity: 1; z-index: 9999; }
}

.overlay__entry {
	width: 35vw;
	left: -8.5vw;
	color: $white;
	text-align: right;
	position: relative;
	display: inline-block;
	font-family: $ff--medium;
}

.overlay__value { font-size: 15vw; }
.overlay__limit {
	font-size: 12vw;
	position: relative;
	top: 4.5vw; left: 1.3vw;

	&:before {
		left: -1vw;
		content: '';
		min-width: 2px;
		position: relative;
		display: inline-block;
		transform: skewX(-20deg);
		background-color: $white;
		width: .5vw; height: 14vw;
	}
}

[class^='overlay__group'] {
	display: flex;
	align-items: center;
	margin: 2.2vw auto 0;
	justify-content: center;
	width: 83.5vw; height: 83.5vw; // must match .tracker with/height
}

.overlay__group--vegs { background: url(../svgs/tracker-group--vegs.svg) no-repeat -.4vw .8vw / 100% 100%; }
.overlay__group--grain { background: url(../svgs/tracker-group--grain.svg) no-repeat -.4vw .8vw / 100% 100%; }
.overlay__group--milk { background: url(../svgs/tracker-group--milk.svg) no-repeat -.4vw .8vw / 100% 100%; }
.overlay__group--meat { background: url(../svgs/tracker-group--meat.svg) no-repeat -.4vw .8vw / 100% 100%; }
