.expanding-pannel{
	width:100%;
	box-sizing:border-box;
	background:#ededed;
	position:relative;
	border-bottom: 2px dotted #cccccc;
	overflow:hidden;
	.image-wrapper{
		width:100%;
		padding: 30px 30px 25px;
	}
	img{
		max-width:70%;
	}
	&.heart img{
		max-width: 60%;
	}
	&.colorectal img{
		max-width: 65%;
	}
	&:last-of-type{
		border:none;
	}
	&:after{
		content: '';
	    font-family: "supergroteska-medium", Arial, sans-serif;
	    color: #23a2c5;
	    display: inline-block;
	    text-align: center;
	    line-height: 2rem;
	    width: 11vw;
	    height: 11vw;
	    margin: 0.4rem 0.6rem 0 0;
	    border-radius: 7vw;
	    border: 0.3rem solid #23a2c5;
	    background: url(../svgs/icon--add--blue.svg) no-repeat 0 0;
	    background-size: 100% 100%;
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    position: absolute;
		right: 30px;
		top: 65px;
		margin-top: -20px;
	}

	.expanded-content{
		height: 0;
    	padding: 0 30px;
    	transition: 0.2s all;
	}

	&.expanded{
		.expanded-content{
			padding: 0px 30px 25px;
			height:auto;
		}
		&:after{
			background-image: url(../svgs/icon--remove--blue.svg);
			border-color:#446d81;
		}
	}
}
