.progress { width: 50vw; }
.progress--report { margin: 3.7vw 0 3.5vw; }

[class^='progress__amount'] {
	text-align: right;
	font-family: $ff--medium;

	span { color: $blue; }
}

.progress__amount--report { font-size: 6.5vw; text-align: center; }

.progress__bar {
	overflow: hidden;
	margin-top: .5rem;
	position: relative;
	width: 100%; height: 3.5vw;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%; height: 100%;
		border: .15rem solid $gray--light;
	}

	div { @include anime(width);
		height: 100%;
		background: $blue;
		position: absolute;
	}
}
