.sizing {

	header {
		padding: 5%;
		margin-bottom: 0;

		p { margin-top:6vw; }
	}

	h1 { font-size: 8vw; margin-top: 0; }

	h2 {
		color:$white;
		font-family: $ff--medium;
		font-size: 5vw;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		width: 100%;
		top:8vw;
		z-index: 2;
	}
}
.sizing .swiper-container { overflow: visible; height: 52vh; background-image: linear-gradient(bottom, #23a1c5 0%, #23a1c5 52.29%, #00dde6 100%);}
.sizing .swiper-slide {
	color:$white;
	text-align: center;

	img{ width:90vw; margin-top:16vw; }
	h3{position: absolute; bottom:8vw; width:100%; color:$white; font-size: 6vw;}
	&.swiper-slide-active h4{display: block;}
}
.sizing .swiper-button-next, .sizing .swiper-button-prev{
	top:50%;
	margin-top:-1.5rem;
	background-image:url(../svgs/icon--angle-white.svg);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.sizing .swiper-button-next{
	right:5%;
}
.sizing .swiper-button-prev{
	left:5%;
}
