@font-face {
	font-family: 'advert-boldregular';
	src: url('../fonts/adbd____.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}

@font-face {
	font-family: 'supergroteska-bold';
	src: url('../fonts/supergroteska-bold.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}

@font-face {
	font-family: 'supergroteska-medium';
	src: url('../fonts/supergroteska-medium.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}

@font-face {
	font-family: 'supergroteska-regular';
	src: url('../fonts/supergroteska-regular.ttf') format('truetype');
	font-weight: normal; font-style: normal;
}
